# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata


# Dependency directories
node_modules/
jspm_packages/

# Coverage directory used by tools like istanbul
coverage
*.lcov

# nyc test coverage
.nyc_output

# development specific files
.dev.*

temp

# Optional eslint cache
.eslintcache

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets